#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.info-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.user-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info{
  padding: 10px 0px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 100px;
}
.info *{
  margin: 0;
}
.invoice-btn{
  align-self: center;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}
.invoice-btn a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
@media (max-width: 576px){
  .body{
      margin-top: 10%;
      padding: 0px 50px;
  }
  .info{
      gap: 20px;
  }
}